:root 
{
  --teal-bg: #004d40;      
  --off-white: #f5f5f5;   
  --accent-blue: #0d47a1; 
  --border-light: rgba(255, 255, 255, 0.3);
}/*globally accessible*/

body, html 
/* root elements */
{
  margin: 0;  padding: 0; 
  /* Removes the browser's default */
  height: 100%;
  background-color: var(--teal-bg);
  font-family: 'Segoe UI', Tahoma; 
  color: white;
}

p, ul , h1
{
  padding : 0 20px;

}


/* Main Layout: Sidebar and Viewer */
.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.nav-item {
  padding: 15px 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--border-light);
  cursor: pointer;
  text-align: left;
  color: white;
  text-decoration: none;
}
.sidebar {
  width: 300px;
  background-color: var(--teal-bg);
  border-right: 1px solid var(--border-light);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo-container {
  background-color: var(--off-white);
  border-radius: 3%; /* soft */
  padding: 40px 20px;
  margin: 40px auto;
  width: 450px;
  text-align: center;
  color: var(--teal-bg);
  font-size: 4rem;
  font-weight: 900;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  
}

.main-content {
  padding-left: 10%; 
  padding-top: 10%;
  padding-bottom: 10%;
}

.team-list {
  color: white;
  list-style-type: square; /* Changes dots to squares */
  padding-left: 20px;
  line-height: 2;         /* Spacing between names */
}


.picker-btn {
    padding: 20px 60px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--off-white);
    color: var(--teal-bg);
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
}



.viewer-container {
   background-color: var(--teal-bg);
  padding: 20px 20px 0 0; 
}

.viewer-content {
  
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px;

}
